body{
    margin:0;
    /* TODO update this to a google font */
    font-family: sans-serif;
    height: 100vh;
}

header {
    height: 75px;
    background: indigo;
    display: flex;
    align-items: center;
    padding: 0 30px ;
    color: white;
}

/* make shadow class */

.entries-display{
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
}

.entries-form{
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    display: none;
}

textarea {
    width: 100%;
    height: 100%;
}

.fab{
    position: absolute;
    bottom:5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: indigo;
    color: white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}